<div class="card mat-card">
  <div class="card-titles">
    <h2>Acerca de</h2>
    <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen" onclick="showEditAboutModal()"></i></a></div>
  </div>
  <div id="about">
   <p>Nací en Mar del Plata en
     1988. Luego de trabajar
     en áreas administrativas
     y de atención al cliente,
     en 2020 comencé a
     capacitarme para aspirar
     a un empleo en el área
     de IT. Me encuentro en la
     búsqueda de nuevas
     oportunidades laborales
     en las que pueda seguir
     formándome.</p>
  </div>
</div>
