<div class="card mat-card" id="first-card">
  <div id="profile-background"><img id="info-back-img" src="../../../assets/banner.jpg"></div>
  <div id="info" style="padding: 16px">
    <div id="info-img">
      <img id="info-user-img" class="profile-image" src="../../../assets/avatar.jpg">
      <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen" onclick="showEditProfileModal()"></i></a></div>
    </div>
    <div id="info-data">
      <div>
        <h1 id="info-name">Lucas Lenzetti</h1>
        <div><span id="info-position">Web Developer</span> en <span id="info-company">Búsqueda laboral</span></div>
        <div id="info-contact">
          <span id="info-ubication">Mar del Plata, Argentina</span>
          <span><a href="#">Información de contacto</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
